:root {
  --header--color: black;

  --font--size: 18px;
}

header {
  margin: 0;
  background-color: var(--header--color);
  font-size: var(--font--size);
  color: white;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0 12px;
  height: 38px;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo_img {
  width: 2rem;
  margin: 12px 0px;
}
button:hover {
  cursor: pointer;
}

header span {
  color: white;
  padding-left: 8px;
  font-size: var(--font--size);
}

.searchInput {
  width: 100%;
  font-size: var(--font--size);
  outline: none;
  margin-left: 12px;
}

.btnSearch {
  outline-style: none;
  background-color: rgb(78, 78, 78);
  color: grey;
  padding: 4px;
  margin-right: 4px;
  font-size: var(--font--size);
}

.btnSearch img {
  width: 1rem;
  height: 12px;
}
